/* search form style */

select#exampleFormControlSelect1 {
  border-top: 2px solid rgb(119, 119, 119);
  border-bottom: 2px solid rgb(119, 119, 119);
  border-right: 0px;
  border-left: 2px solid rgb(119, 119, 119);
  box-shadow: none;
}

.select_style {
  background: white;
  width: 60px;
  padding-left: 10px;
}

.select_style:focus {
  outline: none;
}

input#inlineFormInputGroup {
  border-top: 2px solid rgb(119, 119, 119);
  border-bottom: 2px solid rgb(119, 119, 119);
  border-right: 2px solid rgb(119, 119, 119);
  border-left: 0;
  border-radius: 0;
  box-shadow: none;
}

div#search_icon {
  border-top: 2px solid rgb(119, 119, 119);
  border-bottom: 2px solid rgb(119, 119, 119);
  border-right: 2px solid rgb(119, 119, 119);
  border-left: 0;
  border-radius: 0;
  padding-bottom: 4px;
}

/* search form style end */

/* about us */
.aboutUsImage {
  background-image: url("/images/tushar-final.jpg");
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border: 1px solid #000;
  border-radius: 50%;
  padding: 5px;
}

.aboutUsImageHover {
  background-image: url("/images/pasport.jpg");
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 5px;
}

/* about us end */

/* contact style */

#user_first_name,
#user_last_name,
#user_email,
#exampleFormControlTextarea1 {
  border-radius: 0px;
  border: 2px solid #000;
}

.first_name {
  padding-right: 0px;
}

.last_name {
  padding-left: 0px;
}

.contact_button button {
  background: rgb(18, 236, 11);
}

.contact_button button:hover {
  background: rgb(233, 7, 7);
}

/* contact us style end */
